<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="continer">
            {% if messages %}
            <div>
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="divider">
            <form action="/process_register" method="POST">
                {% csrf_token %}
                first name
                <input type="text" name="first_name">
                last name
                <input type="text" name="last_name">
                email
                <input type="email" name="email">
                password
                <input type="password" name="password">
                confirm password
                <input type="confirm_password" name="confirm_password">
                <input type="submit" value="register">
            </form>
        </div>
        

        <div class="divider">
            <form action="/process_login" method="POST">
                {% csrf_token %}
                <input type="email" name="email">
                <input type="password" name="password">
                <input type="submit" value="login">
            </form>
        </div>
    </div>
</body>

</html>